<h4>About Me</h4>
<p>
    <img class="profile-image" src="../../assets/images/photo.JPG">
</p>

<p>I'm a full stack developer currently living in San Diego, California.</p>
<p>My love for coding comes from my love of problem solving. Nothing motivates me more than being stuck on a difficult challenge.</p>

<p>I'm the proud owner of <a href="../../assets/images/kittens.jpg" target="_new">two cats</a>. (Their names are Chuy and Hector and I'm kind of obsessed with them.) I love music, movies, and could talk about Star Trek or anything true crime related for hours.</p>

<p>When I'm not coding, I'm probably playing video games, or checking out one of the local music venues.</p>

<p>Have a good true crime podcast recommendation? <a href="mailto:rhiannoncduvall@gmail.com?Subject=You%20would%20love%20this%20podcast!">Write me</a> and tell me all about it!</p>