<h4>Hello!</h4>
<p>I'm Rhiannon.</p>
<p>After years of searching, I finally found my passion for programming in 2019. Since then, I've graduated SoftStack Factory's Web Development bootcamp, have made several <a routerLink="../projects">projects</a>, and am constantly looking for new things to learn.</p>
<p>Now I'm looking for a front-end or full-stack developer role so I can turn my passion into a career.</p>
<p>Interested in hiring me? <a href="mailto:rhiannoncduvall@gmail.com?Subject=Work%20with%20me!">Let me know!</a></p>
<a class="button button-primary" href="../../assets/rduvall_resume.pdf" target="_new">Resume</a>