.project-image {
    width: 95%;
    border-radius: 4px;
    align-self: center;
}

.description-text {
    margin: 1rem;
}

.subheader {
    margin: 1rem;
}

.p-row {
    display: flex;
    flex-wrap: wrap;
}

.p-col {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}