.icon {
    width: 3rem;
    margin-right: 10px;
}

.navbar-list {
    list-style: none;
    margin-bottom: 0;
}

.navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0;
    margin-right: 35px;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: .2rem;
    font-weight: 600;
}

a.navlink {
    color: #222;
    text-decoration: none;
}

a.navlink:hover {
    color: #db0b65;
}

a.navlink:active {
    color: #f53887;
}

h1 {
    margin-top: 100px;
}

#site-title {
    text-transform: lowercase;
}

#site-title a {
    color: #222;
    text-decoration: none;
}

#site-title a:hover {
    color: #000;
}

.top-bar {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    height: 3px;
    box-sizing: border-box;
    border-top: 3px solid #f53887;
    position: fixed;
}