<div class="container">
  <h1 id="site-title">
    <a routerLink="home">Rhiannon Duvall</a>
  </h1>
  <hr>
  <nav>
    <ul class="navbar-list">
      <li class="navbar-item subheader">
        <a routerLink="about" class="navlink">About</a>
      </li>
      <li class="navbar-item subheader">
        <a routerLink="projects" class="navlink">Projects</a>
      </li>
      <!-- <li class="navbar-item subheader">
        <a routerLink="contact" class="navlink">Contact</a>
      </li> -->
      <li>
        <a class="navbar-item subheader navlink" href="../../assets/rduvall_resume.pdf" target="_new">Resume</a>
      </li>
    </ul>
  </nav>
  <br>
  <hr>
  <router-outlet></router-outlet>

  <hr>
  <p>
    <a href="https://github.com/rhiannoncduvall" target="_new" alt="GitHub"><img class="icon" src="../assets/icons/github.png"></a>
    <a href="mailto:rhiannoncduvall@gmail.com?Subject=Hello!" alt="Email"><img class="icon" src="../assets/icons/email.png"></a>
    <a href="https://www.linkedin.com/in/rhiannon-duvall" target="_new" alt="LinkedIn"><img class="icon" src="../assets/icons/linkedin.png"></a>
  </p>
  <p>© 2020 Rhiannon Duvall, All Rights Reserved</p>
</div>